body {
    background-color: #121212;
    color: #10c910;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #10c910;
}

button {
    border: none;
    background-color: #10c910;
    color: #121212;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a8a0a;
}

form {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 16px;
    margin-top: 10px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #10c910;
    background-color: #252525;
    color: #10c910;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
    margin: 10px 0;
}
